<!--RESTYLING START-->
<section class="main-menu-wrapper">
	<div class="list-group main_menu_verticale">
		<!-- CITTADINO -->
		<a class="list-group-item">
			<h6 class="bold">Menu</h6>
		</a>
		<a class="list-group-item"  >
			<span class="bold">Rimborsi Tassa Auto</span>
		</a>
		<div class="list-group">
			<a class="list-group-item">
				<i class="fa fa-minus subtitlemenu"  aria-hidden="true"></i>
				<span class="small" title="La mia Carta Sconto">Istanze di rimborso</span>
			</a>
		</div>
		<div class="list-group">
			<a class="list-group-item">
				<i class="fa fa-minus subtitlemenu"  aria-hidden="true"></i>
				<span class="small" title="La mia Carta Sconto"> Istanze pervenute</span>
			</a>
		</div>
				<div class="list-group">
			<a class="list-group-item">
				<i class="fa fa-minus subtitlemenu"  aria-hidden="true"></i>
				<span class="small" title="La mia Carta Sconto">Istanze accettate</span>
			</a>
		</div>

		<a class="list-group-item"  >
			<span class="bold">Ecoinceincentivi 2018</span>
		</a>
				<div class="list-group">
			<a class="list-group-item">
				<i class="fa fa-minus subtitlemenu"  aria-hidden="true"></i>
				<span class="small" title="La mia Carta Sconto">Istanze di rimborso</span>
			</a>
		</div>
		<div class="list-group">
			<a class="list-group-item">
				<i class="fa fa-minus subtitlemenu"  aria-hidden="true"></i>
				<span class="small" title="La mia Carta Sconto"> Istanze pervenute</span>
			</a>
		</div>
				<div class="list-group">
			<a class="list-group-item">
				<i class="fa fa-minus subtitlemenu"  aria-hidden="true"></i>
				<span class="small" title="La mia Carta Sconto">Istanze accettate</span>
			</a>
		</div>



	</div>
</section>
