<div class="container">
  <div  [hidden]="submitted">
    <h3 class="title">GESTIONE FLUSSI RIMBORSI TASSA AUTO</h3>
    <div class="row">&nbsp;</div>
    <form (ngSubmit)="onSubmit()" #tassaAutoForm="ngForm">

   <div class="row">
      <div class="form-group" class="col-md-4">
        <label for="name">ID messaggio SEPA</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"  #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Id is required </div>
      </div>


       <div class="form-group" class="col-md-4">
        <label for="statoFlusso">Stato flusso</label>
        <select class="form-control" id="statoFlusso" required [(ngModel)]="model.statoFlusso" name="statoFlusso"  #statoFlusso="ngModel">
          <option *ngFor="let flusso of statoFlussi" [value]="flusso">{{flusso}}</option>
        </select>
        <div [hidden]="statoFlusso.valid || statoFlusso.pristine" class="alert alert-danger">
          statoFlusso is required
        </div>
       </div>

       <div class="form-group" class="col-md-4">
        <label for="tipoFlusso">Tipo flusso</label>
        <select class="form-control" id="tipoFlusso" required [(ngModel)]="model.tipoFlusso" name="tipoFlusso"  #tipoFlusso="ngModel">
          <option *ngFor="let flusso of tipoFlussi" [value]="flusso">{{flusso}}</option>
        </select>
        <div [hidden]="tipoFlusso.valid || tipoFlusso.pristine" class="alert alert-danger">
          tipoFlusso is required
        </div>
       </div>
</div>
	
	<div class="row">&nbsp;</div>
   	<div class="row">
     
      <form class="form-inline">
        
        <div class="form-group" class="col-md-6">
          <label for="dataInizio">Data di inizio</label>
          <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy"
                   name="dpInizio" [(ngModel)]="model.dataInizio" ngbDatepicker #dInizio="ngbDatepicker">
            <div class="input-group-append">
              <button class="fa fa-calendar"  (click)="dInizio.toggle()" type="button"></button>
            </div>
          </div>
        </div>

  
      <div class="form-group" class="col-md-6">
        <label for="dataFine">Data di fine</label>
          <div class="input-group">
          <input class="form-control" placeholder="dd/mm/yyyy"
                 name="dpFine" [(ngModel)]="model.dataFine" ngbDatepicker #dFine="ngbDatepicker">
          <div class="input-group-append">
            <button class="fa fa-calendar"  (click)="dFine.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>

</div>

<div class="row">&nbsp;</div>

	<div class="row">&nbsp;</div>
     <button type="submit" class="btn btn-success" [disabled]="!tassaAutoForm.form.valid" (click)="InviaRicerca();" >Cerca</button>
	      &nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="Pulisci(); tassaAutoForm.reset()">Svuota</button>
      <!--i>with</i> reset-->

      &nbsp;&nbsp;
      <!--button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
      <i>without</i> reset

      <div class="row">&nbsp;</div-->	

     <!-- NOT SHOWN IN DOCS >
      <div>
        <hr>
        Name via form.controls = {{showFormControls(heroForm)}}
      </div>
     < -->

     <div class="row">&nbsp;</div>
    </form>
  </div>

